<h1>User info</h1>

<%= form_with model: @user, local: true do |f| %>
  <%= render "layouts/error_messages3", model: f.object %>
  <div class="field">
    <%= f.label :name, "Name" %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :profile_image, "Image" %>
    <%= f.attachment_field :profile_image %>
  </div>
  <div class="field">
    <%= f.label :indroduction, "Introduction" %>
    <%= f.text_area :introduction %>
  </div>
  <div class="actions">
    <%= f.submit "Update User" %>
  </div>
<% end %>
