<%= render "layouts/list_user_info", user: @user %>

<%= render "layouts/list_new_book", book: @book %>

<h1>Users</h1>
  <% @users.each do |user| %>
    <div>
      <p>
        <%= link_to user_path(user.id) do %>
          <%= attachment_image_tag user, :profile_image, format: "jpeg", fallback: "no_image.jpg", size: "40x40" %>
        <% end %>
      </p>
      <p>name:<%= user.name %></p>
      <p><%= link_to "Show", user_path(user.id) %></p>
    </div>
  <% end %>
