<%= render "layouts/list_user_info", user: @user %>

<%= render "layouts/list_new_book", book: @book %>

<h1>Books</h1>
  <% @books.each do |book| %>
    <div>
      <%= link_to user_path(book.user.id) do %>
        <%= attachment_image_tag book.user, :profile_image, format: "jpeg", fallback: "no_image.jpg", size: "40x40" %>
      <% end %>
      <p>Title:
        <%= link_to book_path(book.id) do %>
          <%= book.title %>
        <% end %>
      </p>
      <p>Opinion:<%= book.body %></p>
    </div>
  <% end %>
