<h1>Book detail</h1>
  <%= form_with model: @book_new, local: true do |f| %>
    <h4>Title</h4>
    <%= f.text_field :title %>
    <h4>Opinion</h4>
    <%= f.text_area :body %>
    <%= f.submit "Create Book" %>
  <% end %>

<div class="book-body">
  <p>ユーザーネーム:<%= @book.user.name %></p>
  <p>Title:
    <%= link_to book_path(@book.id) do %>
      <%= @book.title %>
    <% end %>
  </p>
  <p>Opinion:<%= @book.body %></p>
  <% if @book.user == current_user %>
    <%= link_to "Edit", edit_book_path(@book.id) %>
    <%= link_to "Destroy", book_path(@book.id), method: :delete, "data-confirm" => "Are you sure?" %>
  <% end %>
</div>