<div class="posted_comment">
  <table class="table">
  <tbody>
    <% book.book_comments.each do |book_comment| %>
    <tr>
      <td>
        <%= link_to user_path(book_comment.user.id) do %>
          <%= attachment_image_tag book_comment.user, :profile_image, format: "jpeg", fallback: "no_image.jpg", size: "40x40" %>
        <% end %>
        <br>
        <%= link_to user_path(book_comment.user.id) do %>
          <%= book_comment.user.name %>
        <% end %>
      </td>
      <td>
        <%= book_comment.comment %>
      <% if book_comment.user == current_user %>
      </td>
      <td id="comment_destroy_<%= book_comment.id %>">
        <%= render 'layouts/list_book_comment_destroy', book_comment: book_comment %>
      </td>
      <% else %>
      <td></td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
  </table>
</div>

<p id="alert">
  <% if flash[:alert] %>
    <%= flash[:alert] %>
  <% end %>
</p>

<div id="new_comment">
  <%= render 'layouts/list_new_book_comment' %>
</div>