<div class="posted_comment">
  <table class="table">
  <tbody>
    <% book.book_comments.each do |book_comment| %>
    <tr>
      <td>
        <%= link_to user_path(book_comment.user.id) do %>
          <%= attachment_image_tag book_comment.user, :profile_image, format: "jpeg", fallback: "no_image.jpg", size: "40x40" %>
        <% end %>
        <br>
        <%= link_to user_path(book_comment.user.id) do %>
          <%= book_comment.user.name %>
        <% end %>
      </td>
      <td>
        <%= book_comment.comment %>
      <% if book_comment.user == current_user %>
      </td>
      <td>
        <%= link_to "Destroy", book_book_comment_path(book_comment.book, book_comment.id), method: :delete, class: "btn btn-sm btn-danger", "data-confirm" => "本当に消しますか?" %>
      </td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
  </table>
</div>

<p id="alert">
  <% if flash[:alert] %>
    <%= flash[:alert] %>
  <% end %>
</p>

<div class="new_comment">
  <%= form_with(model: [book, book_comment], local: true) do |f| %>
    <%= f.text_area :comment, rows: '5', class: "new_comment_container" %>
    <%= f.submit "送信" %>
  <% end %>
</div>